html{
    width: 100%;
    height: 100%;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    height: 100%;
} 

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.stars{
    z-index: -1;
    position: fixed;
    height: 100%;
}

#planet{
    animation-name: planet-animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    width: 100%;
    position: relative;
}

.home-container{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

::-webkit-scrollbar{
    display: none;
}

.inner-container{
   display: flex;
   flex-direction: row;
   width: 400vw;
   transform: rotate(90deg) translateY(-100vh) ;
   transform-origin: top left;

}
nav {
    display: flex;
    width: 100%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
    position: absolute;
    z-index: 2;
}

.navski {
    margin-right: 3vw;
    font-size: 30px;
}

.navski2 {
    margin-left: 3vw;
    font-size: 30px;
}

.slide{
    width: 100vw;
    height: 100vh;
    
}

a {
    text-decoration: none;
    color: rgb(226, 226, 226);
    margin: 0;
    font-size: 30px;
}
a:hover {
    color: rgb(255, 255, 255);
}
.logo {
    width: 150px;
    margin-left: 3vw;
    margin-right: 3vw;
}

h3 {
    font-style: normal;
    text-align: center;
    color: white;
}
.headp {
    margin-top: 90vh;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}
.midp {
    font-style: normal;
    text-decoration: none;
    color: white;
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 14vw;
}
.oval {
    position: relative;
    top: -50px;
    height: 150px;
    width: 900px;
    border-radius: 80%;
    transform: rotate(-7deg);
    border: 1px solid #662087;
    background: none; 
    position: relative;
    z-index: -1;
}

.what-wrapper{
    border: 1px solid white;
    border-radius: 15px;
    position: relative;
    top: 15vh;
    margin-left: 5vw;
    margin-right: 5vw;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80vh;
    padding-top: 30px; 
}

.arrow{
    text-align: center;
    color: transparent;
    font-size: 50px;
}

.what-container{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.what-grid-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(20px + 5%);
    width: 100%;
}

video {
    position: fixed;
    /* height: 100vmin; */
    min-width: 100vw;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    filter: brightness(0.8) contrast(19) grayscale(1);
    pointer-events: none;
}
p {
    color: white;
    font-size: 15pt;
}
/*.wrapper { 
    width: 750px;
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
}
.wrapper .test { 
    width: 200px; display: inline-block; margin: 0 20px; 
}
.wrapper .test p { 
    text-align: center; 
}*/

.founder-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.founders-image {
    width: 50vw;
}

.founders-description{
    height: 80vh;
}

.founders-description p{
    margin-top: 30vh;
    margin-right: 25px;
}

.button {
    background-color: #662087; 
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {
    background-color: transparent; 
    color: WHITE; 
    border: 2px solid #662087;
    border-radius: 30px;
  }
.but {
    display: block;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    width: 14%;
}
/* end of main page css */

.web-container{
    position: absolute;
    z-index: 1;
    width: 100%;
}

.our-work-title{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 12vh;
}

.our-work-container{
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    display: flex;
    justify-content: center;
}
.our-work-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    width: 100%;
    padding: 20px;
    margin-top: 10vh;
}

.our-work-border{
    content: "none";
    height: 33vh;
    grid-gap: 50px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid white;
    cursor: pointer;
}

.our-work-content{
    height: 29vh;
    width: 100%;
    border-radius: 20px;
    margin-top: 2vh;
}
.cancerblake-background{
    background-image: url("./src/cancerblake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.offwhite-background{
    background-image: url("./src/off-white.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.arrian-background{
    background-image: url("./src/arrian.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.sah-background{
    background-image: url("./src/SAH.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.red-dot{
    height: 15px;
    width: 15px;
    background-color: #FF0000;
    border-radius: 50%;
    display: inline-block;
}

.yellow-dot{
    height: 15px;
    width: 15px;
    background-color: #DFE300;
    border-radius: 50%;
    display: inline-block;
}

.green-dot{
    height: 15px;
    width: 15px;
    background-color: #42FF00;
    border-radius: 50%;
    display: inline-block;
}

  .modal { 
    position: fixed;  
    display: none; 
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    overflow-y: scroll; 
    overflow-x: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
  }

  .inner-modal{   
    position: fixed; 
    left: 50%;
    top: 0; 
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;  
    overflow-y: hidden; 
    overflow-x: hidden;
    width: 80%;
    height: 80vh;
    border: 1px solid white;  
    border-radius: 15px;
    transform: translate(-50%, 0);
    background-color: black
  }

  .modal-images{
    width: 100%;
    height: 100%;
  }

  .center-text{
      text-align: center;
  }
  
/*web 3*/
  .web3{
    position: absolute;
    z-index: 1;
    
    width: 100%;
  }

  .dot {
    background-color: transparent;
    border: 1px solid #662087;    
    height: 80vh;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100%;
  }
  .come {
    position: relative;
    text-align: center;
    top: 50vh;
  }

  .center {
    display: block;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}


  /*animations*/
  @keyframes planet-animation{
      0%{position: relative; top: -500px; opacity: 0;}

      100%{top:0; opacity: 1;}
  }



  /*responsive breakpoints*/
  @media only screen and (max-width: 595px) {}
 
  /* Small screen devices (600px and above) */
  @media only screen and (max-width: 800px) {
    
  }

  @media only screen and (min-width: 100px) and (max-width: 600px) {
    .navski{
        font-size: 15px;
    }
    .navski2{
        font-size: 15px;
    }

    .logo{
        width: 30vw;
    }

    .home-container{
        transform: none;
        transform-origin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .inner-container{
        display: block;
        transform: none;
        width: 100%;
    }
  }