.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stars{
  z-index: -1;
  position: fixed;
  height: 100%;
}

.planet{
  animation-name: planet-animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  width: 100%;
  position: relative;
}

.home_about_container{
    border: 3px solid white;
    border-radius: 1.5rem;
    height: 70vh;
    padding: 1rem 3rem;
    width: 89%;
    margin: auto;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    /*background: linear-gradient(to right, #FC5C7D, #6A82FB);*/
    margin-bottom: 10vh;
}

.welcome_header{
  font-weight: 800;
  font-size: 5rem;
  color: white;
}

.home_about_info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(20px + 5%);
  width: 100%;
  margin-top: 20vh;
 
}

.home_about_info p{
  font-weight: 600;
  font-size: 1.25rem;
}

.three_dim_container{
  width: 100%;
  /*border-top: 3px solid white;
  border-bottom: 3px solid white;*/
  height: 100vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4.5rem;
}

.spline_laptop_object{
  width: 100%;
  height: 100%;
}

.info_cards{
  border-radius: 1.5rem;
  border: 3px solid white;
  padding: 3rem;
}

.info_cards p{
  font-weight: 600;
  font-size: 0.75rem;
}

.home_cards_container{
  display: flex;
  justify-content: center;
  gap: 0 10rem;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
}

.home_cards{
  border: 3px solid white;
  flex-basis: 40%;
  padding: 5rem 3rem;
  border-radius: 1.5rem;
  margin-bottom: 10vh;
  font-size: 1.25rem;
  font-weight: 500;
}

.intro_theme_container{
    border: 3px solid white;
    border-radius: 1.5rem;
    height: 70vh;
    padding: 1rem 3rem;
    width: 89%;
    margin: auto;
    margin-bottom: 10vh;
    /*background: linear-gradient(to right, #4e54c8, #8f94fb);*/
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
}

.intro_theme_text{
  width: 70%;
  font-size: 25px;
  margin-bottom: 5rem;
}

.intro_theme_button{
  padding: 1rem;
  border: 1px solid #4e54c8;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #4e54c8;
  background: white;
}

.intro_theme_button:hover{
  color: #4e54c8;
}

.intro_header{
  font-size: 7rem;
  font-weight: 800;
}

.contact_container{
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
}

.contact_button{
  padding: 1rem;
  border: 1px solid white;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background: #4e54c8;
  color: white;
  cursor: pointer;
}


@media only screen and (max-width: 840px){
  .home_about_container{
    border: none;
    height: 100%;
    background: none;
    margin-bottom: 20vh;
    padding: 0;
  }

  .welcome_header{
    margin-top: 10vh;
    font-size: 3.5vh;
  }

  .home_about_info{
    grid-template-columns: auto;
    margin-top: 5vh;
  }

  .home_about_info p{
    background: linear-gradient(to right, #4e54c8, #8f94fb);
    border: 3px solid white;
    border-radius: 0.75rem;
    padding: 3rem;
  }

  .home_cards_container{
    display: block;
    width: 89%;
  }

  .intro_header{
    font-size: 3rem;
  }

  .intro_theme_text{
    width: 100%;
  }
}


@keyframes planet-animation{
  0%{position: relative; top: -500px; opacity: 0;}

  100%{top:0; opacity: 1;}
}