.main {
    height: 100%;
    overflow: hidden;
}

.soon {
    display: flex;
    justify-content: center;
    margin-top: 18rem;
}

@media screen and (max-width: 1000px) {
    .main {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .soon {
        display: none;
    }
}