.info_container{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.support_info1{
    border: 3px solid white;
    padding: 3rem;
    border-radius: 1.5rem;
    width:50%;
    margin-right: 3rem;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
}

.support_info2{
    border: 3px solid white;
    padding: 3rem;
    border-radius: 1.5rem;
    width: 50%;
    margin-left: 3rem;
}

.support_list{
    list-style: circle;
    margin-top: 2rem;
    margin-left: 4rem;
}

.support_list li {
    color: white;
    margin-top: 2vh;
}

.support_form{
    width: 75%;
    margin: auto;
}

.input{
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    margin-bottom: 5vh;
    border-radius: 0.5rem;
    color: white;
}

.input::placeholder{
    color: white;
    opacity: 0.5;
}

.input:focus{
    outline: none;
}

.support_input_group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
    width: 100%;
}

.submit{
    padding: 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1rem;
    background: #4e54c8;
    color: white;
    width: 25%;
    margin-bottom: 3vh;
    cursor: pointer;
}

.status{
    border: 3px solid white;
    background: linear-gradient(to right, #FC5C7D, #6A82FB);
    padding: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 3vh;
}

@media only screen and (max-width: 840px)
{
    .info_container{
        display: block;
        padding: 1rem;
    }

    .support_info1{
        width: 100%;
        margin-bottom: 3vh;
    }

    .support_info2{
        margin-left: 0;
        width: 100%;
        margin-bottom: 3vh;
    }

    .support_list{
        margin-left: 0;
    }

    .support_form{
        width: 90%;
    }

    .support_input_group{
        display: block;
    }

    .submit{
        width: 50%;
    }
}