.main{
    display: flex;
}

.logo {
    width: calc(100px + 3vw);
    height: auto;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.documentation_sidebar{
    width: 45rem;
    height: 100vh;
    border-right: 3px solid white;
    overflow-y: scroll;
}

.documentation_section{
    margin-top: 10vh;
}

.documentation_link{
    padding: 2.25rem 2.25rem;
    margin-top: -3px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.logo:hover{
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=184088), move;
}

.documentation_info{
    padding: 3rem  10rem;
}

@media only screen and (max-width: 480px){
    .documentation_sidebar{
        display: none; /*temporary*/
    }
    .documentation_info{
        padding: 3rem 1rem;
    }
}